h1 {
  text-align: center;
  background-color: darkgreen;
  font-family: 'Brush Script MT',cursive
  }


body{
  background-image: url("/static/green\ and\ yellow\ background.jpg");
  background-size: cover;
}
