<head> 
<title>Fill In The Blanks</title>
</head>
<head>
<h1>Fill In The Blanks</h1>
<a href="/">Home Page</a>
<a href="/questionsfill"> REFRESH</a> 

<link type="text/css" href="/static/style.css" rel="stylesheet">
    <p>When You Get A Question Wrong You Will Have To Restart.
    </br>
    Welcome To The Fill In The Blanks Game. 
    </br>
    </br>
    If You Want To Play Guess The Slogans then enter slogans.
    </br>
    </br>
    If you want to play guesing Sayings and Phrases then enter phrases.
    </br>
    </br>
     If you want to play guessing the Geography then enter geography.</p>
<body>
    <form action="/postanswerfill" method="post"  autocomplete="off">
        <h2> {{g.question}} <input name='question' value='{{g.questionnumber}}' readonly> </br> {{g.beforethequestion}} <input name="message" value='{{g.restart}}'> {{g.afterthequestion}} <input type="submit"> </h2>
        {{g.answerfeedback}}
    </form>    
</body>
</html>

