<head>
    <div>
        <h1>🌵Welcome to Trivia Game Center🌵</h1>
    </div>
</head>

<div class="main">
<h2>This is were you can play some of your favorite games 
</br>
Such as:
</br>
Fill In The Blanks
</br>
True Or Dare
<body>
    <img src="/static/CACTUS.jpg"
     alt="A cactus background" width="380" height = "200" style='float: right;'>
    
     <img src="static/desert cactus.webp"
     alt ="Desert cactus beckground" width ="380" height = "200" style='float: left;'>
    </body>    
</div>
<link type="text/css" href="static/style.css" rel="stylesheet">
       

<div class="sidenav">
    <a href="/questionsfill">Fill In The Blanks</a>
    <a href="/questiontrue">True Or False</a>
    </div>