<html>
<link type="text/css" href="/static/style.css" rel="stylesheet">

<title>True Or False</title>

<h1>Fill In The Blanks</h1>

<div class="sidenav">
</br>
</br>
    <a href="/">Home Page</a>
    <a href="/questionstrue"> REFRESH</a>
    <a href="/questionsfill">Fill In The Blanks</a>
    </div> 
<div class="main">
<body>
    <form action="/postanswertrue" method="post" autocomplete="off">
        <h2> {{g.question}} <input name='question' value='{{g.questionnumber}}' readonly> </br> {{g.beforethequestion}} <input name="message" value='{{g.restart}}'> {{g.afterthequestion}} <input type="submit"> </h2>
        <h2>{{g.answerfeedback}}</h2>
    </form>    
</body>
</div>
</html>