<html>
<link type="text/css" href="/static/style.css" rel="stylesheet">

<title>True Or False</title>

<h1>True Or False</h1>

<div class="sidenav">
</br>
</br>
    <a href="/">Home Page</a>
    <a href="/questionstrue"> REFRESH</a>
    <a href="/questionsfill">Fill In The Blanks</a>
    </div> 
<div class="main">
<body> 
    <h2>
    <form action="/postanswertrue" method='post'>
        
        {{g.question}} <input name='question' value='{{g.questionnumber}}' readonly>
        </br></br>
        {{g.beforethequestion}}
        </br>
        <input placeholder='True Or False'>
        <input type="submit">
    </form>
</h2>
</body>
</div>
</html>

